@media screen and (min-width: 1320px){ 
  .container {
    padding-left:65px;
    padding-right:65px;
    @include media-breakpoint-down(md){ 
      padding-left:35px;
      padding-right:35px;
    }
    @include media-breakpoint-down(sm){ 
      padding-left:15px;
      padding-right:15px;
    }
    > .container {
      max-width: 1320px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      padding-left:0;
      padding-right:0;
      max-width: 1320px;
    }
    @include media-breakpoint-up(md){ 
      padding-left: 50px;
      padding-right: 50px;
    }
    @include media-breakpoint-up(lg){ 
      padding-left: 80px;
      padding-right: 80px; 
    }
  }
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}